<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
<listeners> 
<listener class-name="testNGTurtorial.Listeners">
</listener>
</listeners>
  <test name="Personal Loan">
  <parameter name="URL" value="personalloan.com">
  </parameter>
    <classes>
      <class name="testNGTurtorial.day1"/>
      <class name="testNGTurtorial.day2"/>
      <class name="testNGTurtorial.day4"/>
      
    </classes>
  </test> <!-- Test -->
  <test name="Car Loan">
  <parameter name="URL" value="carloan.com"></parameter>
  <parameter name="APIKey/usrname" value="123456"></parameter>
  <classes>
  <class name="testNGTurtorial.day3">
  <methods> 
  <exclude name="API.*"/>
  </methods>
  </class>
  </classes>
  
  </test>
</suite> <!-- Suite -->
